body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f7cad0; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #B9EEE1;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 2.5rem;
}
nav {
    background-color: #FF5883;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f7cad0;
}


header h1 {
    font-size: 2.5rem;
    margin: 0;
}


.degree-purpose, .degree-structure, .degree-years {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.degree-purpose h2, .degree-structure h2, .degree-years h2 {
    color: #FF5883;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.degree-purpose p, .degree-structure p {
    font-size: 1rem;
    line-height: 1.5;
}


.year-container {
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #FF5883;
    color: white;
}


tr:hover {
    background-color: #f1f1f1;
}

.pink-underline {
    text-decoration: underline;
    color: #FF5883; 
}

.pink-underline:hover {
    color: #d6336c; 
}

